In [2]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('../data/bbva.csv', low_memory=False, nrows=1e6)

df.head()

,x_cliente,x_contrato,segment_id,customer_entry_date,address_country_id,country_nationality_id,zipcode_id,address_district_name,province_name,address_department_name,cts_type,birth_date,gender_type,marital_status_type,child_dependants_number,studies_level,carterization_desc,segment_desc,bureau_last_month,bureau_three_month,bureau_six_month,bureau_twelve_month,bureau_risk_group_id,customer_workpayments_flag,bbva_employee,credit_cards_number,debit_cards_number,max_credit_limit_amount,min_cnt_register_date,minimun_amount_transaction_six_months,minimun_amount_transaction_twelve_months,credit_card_transaction_amount,credit_card_transaction_number,cash_disposal_amount,cash_disposal_number,months_since_last_cash_disposal,line_use_6months_vs_12months,minimun_avg_amount_transaction_six_months,minimun_avg_amount_transaction_twelve_months,sum_avg_amount_transaction_six_months,sum_avg_amount_transaction_twelve_months,debit_card_transaction_amount,debit_card_transaction_number,active_debit_card_transaction_number,cards_transaction_number,sbs_behaviour_qualification,months_bad_behaviour_sbs,months_good_behaviour_sbs,income_amount,twentyfour_months_report_entity_number,max_report_entity_number,average_report_entity_number,six_months_average_report_entity_number,twelve_months_average_report_entity_number,twentyfour_months_average_report_entity_number,average_rcc_debt_3months_vs_24months,average_rcc_debt_3months_vs_12months,debt_vs_income,months_since_max_card_debt,ratio_report_entity_3months_vs_24months,ratio_report_entity_6months_vs_24months,ratio_report_entity_12months_vs_24months,bcp_three_months_avg_use_amount,bcp_six_months_avg_use_amount,bcp_twelve_months_avg_use_amount,bcp_twentyfour_months_avg_use_amount,ibk_three_months_avg_use_amount,ibk_six_months_avg_use_amount,ibk_twelve_months_avg_use_amount,ibk_twentyfour_months_avg_use_amount,sco_three_months_avg_use_amount,sco_six_months_avg_use_amount,sco_twelve_months_avg_use_amount,sco_twentyfour_months_avg_use_amount,bbva_three_months_avg_use_amount,bbva_six_months_avg_use_amount,bbva_twelve_months_avg_use_amount,bbva_twentyfour_months_avg_use_amount,bcp_six_months_mortage_avg_amount,bcp_total_creditcard_amount,bcp_purchases_creditcard_amount,bcp_line_creditcard_amount,bcp_total_vehicle_amount,bcp_total_loan_amount,bcp_total_mortage_amount,bcp_total_other_debts_amount,ibk_six_months_mortage_avg_amount,ibk_total_creditcard_amount,ibk_purchases_creditcard_amount,ibk_line_creditcard_amount,ibk_total_vehicle_amount,ibk_total_loan_amount,ibk_total_mortage_amount,ibk_total_other_debts_amount,sco_six_months_mortage_avg_amount,sco_total_creditcard_amount,sco_purchases_creditcard_amount,sco_line_creditcard_amount,sco_total_vehicle_amount,sco_total_loan_amount,sco_total_mortage_amount,sco_total_other_debts_amount,bbva_total_creditcard_amount,bbva_purchases_creditcard_amount,bbva_line_creditcard_amount,bbva_total_vehicle_amount,bbva_total_loan_amount,bbva_total_mortage_amount,bbva_total_other_debts_amount,other_banks_total_creditcard_amount,other_banks_purchases_creditcard_amount,other_banks_line_creditcard_amount,other_banks_vehicle_amount,other_banks_loan_amount,other_banks_mortage_amount,other_banks_other_debts_amount,min_cts_amount_12months,min_cts_amount_24months,saving_more_100_12months,saving_more_100_6months,saving_more_100_3months,saving_avg_value_6months,avg_saving_more_100_12months,avg_saving_more_100_6months,avg_saving_more_100_3months,liabilities_min_vs_liabilities_avg_6months,saving_min_vs_saving_avg_6months,saving_max_vs_saving_avg_12months,saving_max_vs_saving_avg_6months,vehicle_gamma,credit_card_total_balance_amount,credit_card_extracash_balance_amount,credit_card_surrogate_balance_amount,credit_card_purchases_balance_amount,credit_card_purchases_rev_balance_amount,credit_card_purchases_cuot_balance_amount,credit_card_line_amount,extracash_balance_amount,credit_card_type_desc,credit_card_number,credit_card_payment_amount,credit_card_use_3months_per,extracash_rate_12_months_balance_per,precancel_loan_turnover_amount,precancel_loan_turnover_date,anticipatedcancel_loan_turnover_amount,anticipatedcancel_loan_turnover_number,anticipatedcancel_loan_turnover_date,precancel_mortage_turnover_amount,precancel_mortage_turnover_date,anticipatedcancel_mortage_turnover_amount,anticipatedcancel_mortage_turnover_number,anticipatedcancel_mortage_turnover_date,veh_amort_turnover_amount,other_amort_turnover_amount,mutual_founds_turnover_amount,mutual_founds_turnover_number,creditcard_turnover_amount,extracash_turnover_amount,extracash_turnover_rate,surrogate_turnover_amount,surrogate_turnover_rate,pluscash_turnover_amount,pluscash_turnover_rate,plussurrogate_turnover_amount,plussurrogate_turnover_rate,cash_subscription_amount,cash_subscription_number,transfer_subscription_amount,transfer_subscription_number,transfer_charge_amount,transfer_charge_number,check_charge_amount,check_charge_number,average_card_payment_over_balance_12months,minimun_balance_variation,number_increases_balance,average_increases_balance,loan_balance_amount,loan_BBVA_number,veh_balance_amount,veh_BBVA_number,assets_balance_amount,assets_balance_number,mortage_balance_amount,mortage_balance_number,other_debt_balance_amount,other_debt_balance_number,mutual_funds_balance,mutual_funds_number,term_deposit_balance_amount,term_deposit_balance_number,credit_card_insurance_balance_amount,credit_card_insurance_balance_number,life_insurance_balance_amount,life_insurance_balance_number,current_account_balance,other_insurances_amount,other_insurances_number,customer_volume_amount,customer_finantialmargin_amount,customer_cost_amount,customer_netcomissions_amount,customer_rof_amount,customer_netincomeaftertaxes_amount,customer_operatingmargin_amount,customer_rorc_rate,customer_volume_pasive_amount,customer_volume_active_amount,customer_netincomeaftertaxes_pasive_amount,customer_netincomeaftertaxes_active_amount,abandonment_rate,cutoff_date
0,296447,469,86600.0,2018-11-09,PER,PER,NaN,NUEVO CHIMBOTE,SANTA,ANCASH,NO,1985-10-31,M,S,0.0,3. Universitario,Carterizado,RETAIL,8.0,8.0,8.0,8.0,8.0,NaN,0,0.0,1.0,1000.0,2020-06-18,NaN,100.0,NaN,0.0,NaN,0.0,6.903226,NaN,NaN,109.85,NaN,109.85,NaN,NaN,NaN,NaN,4.0,6.0,12.0,3201.7,5.0,4.0,3.750000,0.666667,0.333333,0.208333,0.023709,0.023709,0.0,6.0,0.8,0.8,0.8,NaN,NaN,NaN,NaN,74.809167,145.317917,272.624583,464.741667,NaN,NaN,NaN,NaN,0.000000,97.442143,448.914286,670.018571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,602.69,602.69,602.69,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.0,NaN,NaN,7.0,3.0,1.0,720.0000,7.0,3.0,1.0,0.000000,0.000000,2.020533,1.666667,2_gama_media,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.00,5.0,NaN,0.0,NaN,0.0,5.0,NaN,0.0,0.0,0.0,5.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-380.0,3.0,47.401667,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,330.091,1.0,NaN,0.0,0.00,NaN,0.0,0.00,-1318.500000,-386.596211,0.000000,0.0,-1202.092828,-931.903789,5.285289,0.00,0.00,4.893799,-283.213593,NaN,2021-12-31
1,296447,469,86600.0,2018-11-09,PER,PER,NaN,NUEVO CHIMBOTE,SANTA,ANCASH,NO,1985-10-31,M,S,0.0,3. Universitario,Carterizado,RETAIL,8.0,8.0,8.0,8.0,8.0,NaN,0,0.0,1.0,1000.0,2020-06-18,NaN,100.0,NaN,0.0,NaN,0.0,4.903226,NaN,NaN,109.85,NaN,109.85,NaN,NaN,NaN,NaN,4.0,6.0,13.0,3201.7,5.0,4.0,3.833333,0.666667,0.333333,0.208333,0.046620,0.046620,0.0,4.0,0.8,0.8,0.8,NaN,NaN,NaN,NaN,69.955417,134.430000,233.840833,459.221250,NaN,NaN,NaN,NaN,26.951429,211.280714,530.174286,670.018571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,594.23,594.23,594.23,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.0,986.87,0.0,0.0,0.0,0.0,0.00,0.00,857.3,0.0,413.97,0.0,0.0,NaN,NaN,8.0,5.0,2.0,1204.3640,8.0,5.0,2.0,0.996377,0.996377,1.492847,1.005435,2_gama_media,0.00,0.00,0.0,0.0,NaN,NaN,0.0,NaN,Clasica,1.0,NaN,0.000000,0.000000,0.0,NaN,0.00,9.0,NaN,0.0,NaN,0.0,9.0,NaN,0.0,0.0,0.0,9.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-380.0,3.0,-9.739167,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.000,1.0,NaN,0.0,2400.00,NaN,0.0,4373.74,-1452.808348,-267.292275,62.874194,0.0,-2365.722939,-1185.516073,9.866896,2400.00,1973.74,12.692477,-1784.170294,NaN,2021-10-31
2,296447,469,86600.0,2018-11-09,PER,PER,NaN,NUEVO CHIMBOTE,SANTA,ANCASH,NO,1985-10-31,M,S,0.0,3. Universitario,Carterizado,RETAIL,8.0,8.0,8.0,8.0,8.0,NaN,0,0.0,0.0,1000.0,2020-06-18,NaN,100.0,NaN,0.0,NaN,0.0,2.935484,NaN,109.85,109.85,109.85,109.85,NaN,NaN,NaN,NaN,NaN,4.0,14.0,NaN,5.0,4.0,3.833333,0.666667,0.333333,0.208333,0.087114,0.087114,NaN,2.0,0.8,0.8,0.8,NaN,NaN,NaN,NaN,73.591667,127.323333,206.104167,416.650833,NaN,NaN,NaN,NaN,167.932857,344.116429,597.317143,670.018571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,577.63,577.63,600.00,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,377.32,0.0,1000.00,0.0,0.0,0.0,0.0,0.00,0.00,857.3,0.0,1393.03,0.0,0.0,NaN,NaN,9.0,5.0,3.0,1451.9820,9.0,5.0,3.0,0.826457,0.826457,1.622598,1.679146,2_gama_media,986.87,986.87,0.0,0.0,NaN,NaN,1000.0,NaN,Clasica,1.0,NaN,0.986870,1.000000,0.0,NaN,0.00,10.0,NaN,0.0,NaN,0.0,10.0,NaN,0.0,0.0,0.0,10.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-800.0,4.0,-47.754167,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.000,1.0,2709.014,1.0,2400.00,NaN,0.0,4373.74,-889.374586,-439.667190,87.604624,0.0,-1576.426352,-449.707396,55.557825,2400.00,1973.74,12.143425,-1007.034927,NaN,2021-08-31
3,296447,469,86600.0,2018-11-09,PER,PER,NaN,NUEVO CHIMBOTE,SANTA,ANCASH,NO,1985-10-31,M,S,0.0,3. Universitario,Carterizado,RETAIL,8.0,8.0,8.0,8.0,8.0,NaN,0,1.0,1.0,1000.0,2020-06-18,100.0,100.0,NaN,0.0,NaN,0.0,1.903226,0.687207,109.85,100.00,109.85,209.85,NaN,NaN,NaN,NaN,2.0,5.0,14.0,3201.7,5.0,4.0,3.833333,0.666667,0.333333,0.208333,0.092535,0.092535,0.0,1.0,0.8,0.8,0.8,NaN,NaN,NaN,NaN,64.474583,128.069167,204.516250,392.746250,NaN,NaN,NaN,NaN,198.508462,408.781538,646.072308,692.533846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,607.51,607.51,607.51,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,986.87,0.0,1000.00,0.0,0.0,0.0,0.0,426.58,426.58,900.0,0.0,1393.03,0.0,0.0,NaN,NaN,9.0,4.0,3.0,1514.9775,9.0,4.0,3.0,0.792091,0.792091,2.072521,1.609324,2_gama_media,986.87,986.87,0.0,0.0,NaN,NaN,1000.0,NaN,Clasica,1.0,NaN,0.986870,1.000000,0.0,NaN,0.00,15.0,NaN,0.0,NaN,0.0,15.0,NaN,0.0,0.0,0.0,15.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-800.0,5.0,-31.905833,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.000,1.0,2632.868,1.0,2410.91,NaN,0.0,4384.65,378.082955,-445.832685,352.643333,0.0,-198.819662,823.915640,-1.577304,2410.91,1973.74,16.750878,361.632097,NaN,2021-07-31
4,296447,469,87100.0,2018-11-09,PER,PER,NaN,NUEVO CHIMBOTE,SANTA,ANCASH,NO,1985-10-31,M,S,0.0,3. Universitario,Carterizado,RETAIL,7.0,7.0,8.0,8.0,7.0,1.0,0,1.0,1.0,1000.0,2020-06-18,100.0,100.0,NaN,0.0,300.0,1.0,0.838710,1.000000,100.00,100.00,100.00,100.00,NaN,NaN,NaN,NaN,1.0,3.0,17.0,3201.7,5.0,4.0,3.833333,0.666667,0.416667,0.208333,0.087411,0.087411,0.0,4.0,0.8,0.8,1.0,NaN,NaN,NaN,NaN,35.816250,76.447083,192.500833,369.722500,NaN,NaN,NaN,NaN,247.280000,440.682857,526.968571,526.968571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,589.21,589.21,600.00,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,593.32,0.0,1000.00,0.0,545.2,0.0,0.0,615.69,615.69,900.0,0.0,2059.60,0.0,0.0,NaN,NaN,6.0,5.0,2.0,3118.8040,6.0,5.0,2.0,0.769526,0.769526,1.656543,1.598840,2_gama_media,873.85,654.15,0.0,219.7,219.7,NaN,1000.0,500.0,Clasica,1.0,494.7,0.910987,0.939708,0.0,NaN,83.03,11.0,2020-12-31,0.0,NaN,0.0,11.0,NaN,0.0,0.0,0.0,11.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-800.0,3.0,0.890000,1173.43,1.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.000,1.0,2732.184,1.0,4891.44,NaN,0.0,3538.52,632.260381,0.000000,228.066129,0.0,557.432348,632.260381,3.676205,2400.00,1138.52,62.221608,458.936216,NaN,2021-01-31

In [4]:
print(df.columns)

Index(['x_cliente', 'x_contrato', 'segment_id', 'customer_entry_date',
       'address_country_id', 'country_nationality_id', 'zipcode_id',
       'address_district_name', 'province_name', 'address_department_name',
       ...
       'customer_rof_amount', 'customer_netincomeaftertaxes_amount',
       'customer_operatingmargin_amount', 'customer_rorc_rate',
       'customer_volume_pasive_amount', 'customer_volume_active_amount',
       'customer_netincomeaftertaxes_pasive_amount',
       'customer_netincomeaftertaxes_active_amount', 'abandonment_rate',
       'cutoff_date'],
      dtype='object', length=213)

In [5]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Columns: 213 entries, x_cliente to cutoff_date
dtypes: float64(188), int64(3), object(22)
memory usage: 2.6 GB

In [6]:
df.shape

(1000000, 213)

In [7]:
df.groupby('x_cliente').sum().shape

/var/folders/95/ms6dwls51ls1jq0t456d3r200000gn/T/ipykernel_84404/2904448350.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('x_cliente').sum().shape

(114634, 190)

In [8]:
df.cutoff_date.min(), df.cutoff_date.max()

('2020-01-31', '2022-01-31')

In [11]:
dictio = pd.ExcelFile('../data/dictio.xlsx')

dictio.sheet_names

['Hoja1',
 'Hoja2',
 'Hoja 3',
 'Imputaciones',
 'Variables_nuevas',
 'variables_prime']

In [14]:
h1 = pd.read_excel('../data/dictio.xlsx', sheet_name='Hoja1')

h1.head()

,Bloque,SubBloque,Variables,NombreVariable,Comentarios / Codificación,Descripción de la variable,Segmentación,Abandono,Default,Proyeccion,Attrition,Muestra,Nombre_adicional,Fuente_Información,Comentarios,Duplicado,Tipo de dato,Etiqueta,Valores,Valores Nulos,Unnamed: 20
0,Corte,Corte,Fecha de corte de la información,cutoff_date,NaN,Fecha de corte de la información,Si,Si,No,No,NaN,Si,NaN,Tabla contratos,NaN,NaN,object,NaN,"['2021-12-31T00:00:00.000000000', '2021-10-31T...",0.0,NaN
1,Sociodemográfico,Datos bancarios,Código del cliente. CAMPO CLAVE - generado,x_contrato,NaN,Código del cliente,Si,Si,No,No,NaN,Si,NaN,Tabla contratos,NaN,NaN,int64,NaN,[ 469 643 740 ... 422835 423143 423173],0.0,NaN
2,Sociodemográfico,Datos bancarios,Código del cliente. CAMPO CLAVE - generado,x_cliente,NaN,Código del cliente,Si,Si,No,No,NaN,Si,NaN,Tabla Clientes,NaN,NaN,int64,NaN,[296447 276754 318898 ... 334143 330104 1179],0.0,NaN
3,Sociodemográfico,Datos bancarios,Indicador de morosidad,sbs_behaviour_qualification,NaN,Indicador de morosidad,Si,Si,No,No,NaN,SI,NaN,RCC Clientes,NaN,NaN,float64,NaN,El valor máximo es 9.0\nEl valor mínimo es 0.0,1048785.0,NaN
4,Sociodemográfico,Datos bancarios,Indicador de empleado de la entidad,bbva_employee,NaN,Indicador de empleado de la entidad,Si,Si,No,No,NaN,SI,NaN,Oficinas,NaN,NaN,int64,NaN,[0 1],0.0,NaN

In [15]:
h2 = pd.read_excel('../data/dictio.xlsx', sheet_name='Hoja2')

h2.head()

                x_cliente             x_cliente.1
0              x_contrato              x_contrato
1              segment_id              segment_id
2     customer_entry_date     customer_entry_date
3      address_country_id      address_country_id
4  country_nationality_id  country_nationality_id

In [16]:
h3 = pd.read_excel('../data/dictio.xlsx', sheet_name='Hoja 3')

h3.head()

,Unnamed: 0,Tasa,Unnamed: 2,Consumo,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Producto,Si/No,Variable,Si/No,Variable,NaN,NaN,NaN
1,Compras,Si,purchase_rate_per,Si,credit_card_purchases_balance_amount,Total Saldo Utilizado Compras (revolvente y no...,ok,Pagar con la tarjeta
2,Efectivo Cuotas,Si,extracash_turnover_rate,Si,credit_card_extracash_balance_amount,Total Saldo Utilizado Efectivo Cuotas,ok,Vas al cajero y sacas dinero. Tienes que pagar...
3,Efectivo Plus,Si,pluscash_turnover_rate,Si,pluscash_turnover_amount,NaN,NaN,NaN
4,Subrogado Cuotas,Si,surrogate_turnover_rate,Si,credit_card_surrogate_balance_amount,Total Saldo Utilizado Subrogado Cuota (no incl...,ok,Te traes la deuda que tienes con otro banco. Y...

In [17]:
imp = pd.read_excel('../data/dictio.xlsx', sheet_name='Imputaciones')

imp.head()

   variable          porcentaje  Unnamed: 2 Imputación           Explicación
0         0               index           0        NaN                    NaN
1         1           x_cliente           0        NaN     Código del cliente
2         2          x_contrato           0        NaN     Código del cliente
3         3          segment_id          90        NaN  ID Segmento Comercial
4         4  address_country_id           0        NaN     País de residencia

In [18]:
var_nuevas = pd.read_excel('../data/dictio.xlsx', sheet_name='Variables_nuevas')

var_nuevas.head()

        Variables Nuevas                     Definición
0                    NaN                            NaN
1            cutoff_date  fecha de corte de información
2             birth_date            fecha de nacimiento
3  min_cnt_register_date     fecha de alta del contrato
4    customer_entry_date      fecha de alta del cliente

In [20]:
var_prime = pd.read_excel('../data/dictio.xlsx', sheet_name='variables_prime')

var_prime.head()

,Variables - Periodo 3,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,"income_amount',",NaN,credit_card_purchases_balance_amount,Sí esta
1,"bbva_total_deudas',",NaN,credit_card_extracash_balance_amount,No está
2,"bbva_line_creditcard_amount_imputed',",NaN,pluscash_turnover_amount,No esta
3,"other_banks_total_creditcard_amount',",NaN,credit_card_surrogate_balance_amount,Sí esta
4,"sco_total_creditcard_amount',",NaN,extracash_balance_amount,No está